.box {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 50px);
  margin-top: 20px;
}
.form {
  padding: 8px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.btn {
  width: 60px;
  height: 30px;
  text-align: center;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 2px;
  border: none;
}

.btn:hover,
:focus {
  background-color: rgb(235, 187, 187);
}
